/** APP STYLE **/
:root {
	--dark: #08292e;
	--light: #6b7280;
	--white: #fff;

	--lightAccent: #f3e8ff;
	--mediumAccent: #a483e1;
	--darkAccent: #696ed4;

	/*--dark: #111827;
	--lightAccent: #f9efd6;
	--darkAccent: #9333ea; */
	/* --accent1: #f5d55f;
	--accent2: #c5ed77; */
}

* {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	/* <weight>: Use a value from 100 to 900 */
	text-decoration: none;
	list-style: none;
	color: var(--dark);
}

h1 {
	font-size: 1.6rem;
}

h2 {
	font-size: 1.3rem;
}

h3,
h4 {
	font-size: 0.8rem;
}

p {
	font-size: 14px;
}

@media (min-width: 768px) {
}

@media (min-width: 1000px) {
}
