.options-card.light h3 {
	color: var(--textDark);
}

.options-card.light li {
	color: var(--textDark);
	font-weight: 600;
}

.options-card.light p {
	color: var(--textRegular);
}

.options-card.light {
	background-color: var(--bgWhite);
}

.options-card.light .card-img {
	width: 60px;
}

.options-card.light ul {
	display: flex;
	flex-direction: column;
	row-gap: 20px;

	width: 100%;
}

.options-card.light .list-img {
	width: 50px;
	height: 50px;
}

.options-card.light .list-img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.options-card.light ul li {
	display: flex;
	align-items: center;
	column-gap: 20px;

	padding-bottom: 20px;
	border-bottom: 1px solid var(--bgLight);
}

.options-card.light ul li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}
