/** APP STYLE **/
:root {
	--headerBg: #f97171;
	--mainBg: #fff;
	--leftBg: #f5d55f;
	--rightBg: #c5ed77;
	--footerBg: #72c2f1;
}

* {
	font-family: sans-serif;
	text-decoration: none;
	list-style: none;
	color: inherit;
}

div#root {
	display: grid;
	min-height: 100dvh;
}

@media (min-width: 768px) {
	div#root {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto 1fr auto;
	}
}

@media (min-width: 1200px) {
	div#root {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto 1fr auto;
	}
}
