section.mockups {
	display: none;
}

/* media md */
@media only screen and (min-width: 768px) {
	section.mockups {
		display: block;
		position: relative;
	}

	.mockups-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		row-gap: 20px;
		padding: 40px 20px;
	}

	.mockups-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 20px;
	}

	.mockups-content h2 {
		color: var(--textDark);
	}

	.mockups-badges {
		display: flex;
		column-gap: 20px;
	}

	.mockups-badges span {
		display: flex;
		column-gap: 20px;

		border: 1px solid var(--bgLight);
		border-radius: 20px;
		padding: 10px 20px;
	}

	.mockups-badges span:nth-child(1):hover {
		background-color: var(--accent1);
		border-color: transparent;
	}

	.mockups-badges span:nth-child(2):hover {
		background-color: var(--accent2);
		border-color: transparent;
	}

	.mockups-badges span:nth-child(3):hover {
		background-color: var(--accent3);
		border-color: transparent;
	}

	.mockups-badges span:nth-child(4):hover {
		background-color: var(--accent4);
		border-color: transparent;
	}

	.mockups-badges span:nth-child(5):hover {
		background-color: var(--accent5);
		border-color: transparent;
	}

	.mockups-badges span:nth-child(6):hover {
		background-color: var(--accent6);
		border-color: transparent;
	}

	.mockups-badges span:nth-child(7):hover {
		background-color: var(--accent7);
		border-color: transparent;
	}

	.mockups-badges span h3 {
		font-size: 22px;
		font-weight: 700;
		color: var(--textMedium);
	}

	.mockups-images {
		display: flex;
		align-items: end;
	}

	.mockups-images .mockup-image:nth-child(1) {
		width: 74.1%;
	}

	.mockups-images .mockup-image:nth-child(2) {
		width: 25.9%;
	}

	.mockups-images img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
