.scenes-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 40px;

	padding: 40px 20px;

	text-align: center;
}

.scenes h2,
.scenes h3 {
	color: var(--textDark);
}

.scenes p {
	color: var(--textRegular);
}

.scenes-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
}

.scenes-topitems {
	display: flex;
}

.scenes-topitems .scenes-item:nth-child(1) {
	border: 1px solid var(--bgLight);
	border-left: none;
}

.scenes-topitems .scenes-item:nth-child(2) {
	border: 1px solid var(--bgLight);
	border-left: none;
	border-right: none;
}

.scenes-topitems .scenes-item .item-img {
	width: 100%;
	height: 100%;
}

.scenes-topitems .scenes-item .item-img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.scenes-grid {
	width: 100%;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	row-gap: 40px;
}

.scenes-grid .scenes-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;

	grid-column: span 2;

	padding-bottom: 40px;
	border-bottom: 1px solid var(--bgLight);
}

.scenes-grid .scenes-item:nth-child(1) {
	padding-top: 40px;
}

.scenes-grid .scenes-item .item-img {
	max-width: 250px;
	max-height: 250px;

	margin: auto 0;

	position: relative;
}

.scenes-grid .scenes-item .item-img img {
	width: 100%;
	height: 100%;

	object-fit: contain;
}

.scenes-grid .scenes-item .item-img img:nth-child(2) {
	position: absolute;
	z-index: 1;
	right: -50px;
	bottom: 0;

	height: 50%;
}

/* media sm */
@media only screen and (min-width: 576px) {
	.scenes-grid {
		row-gap: 80px;
	}

	.scenes-grid .scenes-item {
		justify-content: space-between;

		grid-column: span 1;

		padding-bottom: 0;
		border-bottom: none;
	}
}

/* media lg */
@media only screen and (min-width: 992px) {
	.scenes-grid {
		grid-template-columns: repeat(3, 1fr);
		row-gap: 0;
	}

	.scenes-grid .scenes-item {
		grid-column: span 1;
		padding: 80px 0;
	}

	.scenes-grid .scenes-item:nth-child(1),
	.scenes-grid .scenes-item:nth-child(2),
	.scenes-grid .scenes-item:nth-child(4),
	.scenes-grid .scenes-item:nth-child(5) {
		border-right: 1px solid var(--bgLight);
	}

	.scenes-grid .scenes-item:nth-child(1),
	.scenes-grid .scenes-item:nth-child(2),
	.scenes-grid .scenes-item:nth-child(3) {
		border-bottom: 1px solid var(--bgLight);
	}
}
