footer {
	/* background-color: var(--footerBg); */
	background-color: var(--lightAccent);
	color: var(--light);
	padding: 1rem;
}

footer .footer-top {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 1rem 0;
}

footer hr {
	border: 0.1rem solid var(--darkAccent);
	margin: 1rem 0;
}

footer .footer-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 1rem 0;
}

footer .footer-bottom a {
	text-decoration: underline;
	color: var(--darkAccent);
}

footer .footer-top .footer-description {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1rem;
	max-width: 35ch;
}

footer .footer-top .logo {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
}

footer .footer-top .logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

footer .footer-top nav > ul {
	display: flex;
	flex-direction: column;
	gap: 1rem 0;
}

footer .footer-top nav > ul > li > a {
	color: var(--darkAccent);
	font-weight: 500;
}

@media (min-width: 768px) {
	div#root footer {
		grid-column: span 4;
	}

	footer {
		padding: 2rem;
	}

	footer .footer-top {
		flex-direction: row;
		gap: 0 2rem;
		justify-content: space-between;
		align-items: start;
		text-align: start;
	}

	footer .footer-top .footer-description {
		align-items: start;
	}

	footer .footer-top nav > ul {
		flex-direction: row;
		gap: 0 2rem;
	}

	footer .footer-top nav > ul > li,
	footer .footer-top nav > ul > li > ul {
		display: flex;
		flex-direction: column;
		row-gap: 0.8rem;
	}

	footer .footer-bottom {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		text-align: start;
	}
}

@media (min-width: 1000px) {
	div#root footer {
		order: 3;
	}
}
