footer {
	background-color: var(--footerBg);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 1rem 0;
}

footer img {
	border-radius: 50%;
}

footer nav > ul {
	display: flex;
	flex-direction: column;
	gap: 1rem 0;
}

footer nav > ul > li > a {
	font-weight: bold;
}

@media (min-width: 768px) {
	div#root footer {
		grid-column: span 4;
	}

	footer {
		flex-direction: row;
		gap: 0 2rem;
		align-items: start;
		text-align: start;
	}

	footer nav > ul {
		flex-direction: row;
		width: 100%;
		gap: 0 2rem;
	}
}

@media (min-width: 1200px) {
	div#root footer {
		grid-column: span 4;
		order: 3;
	}
}
