/** VARIABLES **/
:root {
	--1u: 15px;

	--whiteText: #ffffff;
	--whiteTextShadow: 2px 2px 3px #010101;

	--normal: #b5b0a6;
	--fighting: #bb5544;
	--flying: #5390e3;
	--poison: #aa5599;
	--ground: #ddbb55;
	--rock: #bbaa66;
	--bug: #9bac1e;
	--ghost: #6060b1;
	--steel: #aaaabb;
	--fire: #ff4422;
	--water: #3091f1;
	--grass: #72c452;
	--electric: #ffd042;
	--psychic: #f05090;
	--ice: #77ddf5;
	--dragon: #7161e3;
	--dark: #775544;
	--fairy: #ffb2ff;
}

/** TYPOGRAPHY **/
@font-face {
	font-family: "PokémonXY";
	src: local("PokémonXY"), url("../font/PokemonXY.ttf") format("truetype");
}

@font-face {
	font-family: "Pokémon Classic";
	src: local("Pokémon Classic"), url("../font/PokemonClassic.ttf") format("truetype");
}

h1 {
	font-weight: 500;
}

h2 {
	font-size: 28px;
	font-weight: 600;
	text-transform: uppercase;
}

h3 {
	font-size: 24px;
	text-transform: uppercase;
}

h3 span {
	font-size: 21px;
}

h4,
h5 {
	font-size: 21px;
	font-weight: 500;
	text-transform: uppercase;
}

p {
	font-weight: 500;
}

/** GENERAL **/
html {
	scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
main::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
main {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "PokémonXY", monospace;
	letter-spacing: 2px;
}

body {
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

/** GBA **/

.gba-container {
	width: 1338px;
	height: 771px;
	background-image: url("../img/GBA-transparent.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	display: flex;
	justify-content: center;
	align-items: center;
}

.gba-screen {
	margin-top: -5px;
	margin-left: 5px;
	width: 620px;
	height: 500px;
	border: 5px solid black;
	border-radius: 10px;
}

/** POKéDEX **/

.pokedex-header,
.pokedex-footer {
	height: 45px;
	background-color: #9c7c53;
	color: var(--whiteText);
	text-shadow: var(--whiteTextShadow);
}

.pokedex-header {
	text-align: center;
	border-radius: 10px 10px 0 0;
}

.pokedex-footer {
	display: flex;
	align-items: center;
	justify-content: end;
	column-gap: var(--1u);
	padding-right: var(--1u);
	border-radius: 0 0 10px 10px;
}

.pokedex-footer div {
	display: flex;
	align-items: center;
	column-gap: calc(var(--1u) / 2);
}

.pokedex-footer .footer-btn {
	width: 30px;
	height: 30px;
}

.pokedex-footer .footer-btn img {
	width: 100%;
	height: 100%;
}

.pokedex-main {
	height: calc(500px - 45px - 45px);
	overflow-y: scroll;
	background-color: #ffecd4;
	padding: var(--1u);
}

/** POKéDEX LI**/

.pokedex-li {
	display: flex;
	align-items: center;
	column-gap: calc(var(--1u) / 2);
}

.pokedex-li .list-arrow {
	font-size: 32px;
	color: transparent;
}

.pokedex-li .list-arrow.select {
	color: unset;
}

.pokedex-li h2 {
	width: 150px;
	flex-shrink: 0;
	min-width: fit-content;
}

.pokedex-li h3 {
	width: 60px;
	flex-shrink: 0;
	min-width: fit-content;
}

/* .pokemon-icon {
	width: 100px;
	height: auto;
} */

/* .pokemon-icon img {
	width: 100%;
	height: 100%;
} */

.pokeball {
	width: 30px;
	height: auto;
	cursor: pointer;
	filter: grayscale(100%);
}

.pokeball:hover {
	filter: unset;
}

/** POKéMON TYPES**/

.pokemon-types {
	display: flex;
	flex-direction: column;
	row-gap: calc(var(--1u) / 2);
	margin-left: auto;
	width: 105px;
}

.pokemon-type {
	width: fit-content;
	padding: calc(var(--1u) / 4) calc(var(--1u) / 1.5);
	border-radius: 10px;
	color: var(--whiteText);
	text-shadow: var(--whiteTextShadow);
}

.pokemon-type.normal {
	background-color: var(--normal);
}

.pokemon-type.fighting {
	background-color: var(--fighting);
}

.pokemon-type.flying {
	background-color: var(--flying);
}

.pokemon-type.poison {
	background-color: var(--poison);
}

.pokemon-type.ground {
	background-color: var(--ground);
}

.pokemon-type.rock {
	background-color: var(--rock);
}

.pokemon-type.bug {
	background-color: var(--bug);
}

.pokemon-type.ghost {
	background-color: var(--ghost);
}

.pokemon-type.steel {
	background-color: var(--steel);
}

.pokemon-type.fire {
	background-color: var(--fire);
}

.pokemon-type.water {
	background-color: var(--water);
}

.pokemon-type.grass {
	background-color: var(--grass);
}

.pokemon-type.electric {
	background-color: var(--electric);
}

.pokemon-type.psychic {
	background-color: var(--psychic);
}

.pokemon-type.ice {
	background-color: var(--ice);
}

.pokemon-type.dragon {
	background-color: var(--dragon);
}

.pokemon-type.fairy {
	background-color: var(--fairy);
}

/** POKéDEX SEARCH**/

.search-div {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

.search-div * {
	font-size: 21px;
	font-weight: 500;
	text-transform: uppercase;
}

.search-div div {
	display: flex;
	column-gap: 1rem;
}

.search-div .search-name,
.search-div .search-types,
.search-div .search-btn {
	width: 70px;
	padding: calc(var(--1u) / 4) calc(var(--1u) / 1.5);
	border: none;
	border-radius: 10px;
	color: var(--whiteText);
	text-shadow: var(--whiteTextShadow);
	text-align: center;
}

.search-div .search-name {
	background-color: var(--dark);
}

.search-div .search-types {
	background-color: var(--fairy);
}

.search-div .search-btn {
	background-color: var(--normal);
	cursor: pointer;
}

.search-div .search-name-input,
.search-div .search-type-input {
	width: max-content;
	padding: calc(var(--1u) / 4) calc(var(--1u) / 1.5);
	border-radius: 10px;
	border: 2px solid black;
}

.search-div .search-name-input {
	width: 280px;
}
