nav {
	/* height: 100px; */
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav div {
	height: 20px;
	display: flex;
	column-gap: 0.5rem;
	align-items: center;
}

nav div img {
	height: 100%;
	width: auto;
}
