.container {
	margin: 0 1rem 1rem;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem 0;
}

/* FRONTEND MENTOR */
.attribution {
	font-size: 11px;
	text-align: center;
	margin-bottom: 1rem;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
	.container {
		max-width: 900px;
		margin: 0 auto;
	}

	main {
		padding: 4rem 2rem;

		flex-direction: row;
		gap: 0 4rem;
	}

	.attribution {
		margin-bottom: 0;
	}
}
