.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
/* 
padding-left: 20px;
padding-right: 20px; 
padding: 40px 20px;
*/

/* media md */
@media only screen and (min-width: 768px) {
	/*  */
}

/* media lg */
@media only screen and (min-width: 992px) {
	/*  */
}
