:root {
	--textDark: #1c1e63;
	--textMedium: #343485;
	--textRegular: #696ba5;
	--textLight: #989ad3;
	--textAccent: #ff4685;
	--textWhite: #ffffff;

	--btnBg: #1c1e63;
	--btnText: #ffffff;

	--bgDark: #1c1e63;
	--bgMedium: #343485;
	--bgRegular: #414195;
	--bgLight: #989ad3;
	--bgWhite: #ffffff;
}
