.counter {
	width: calc(40% - 0.5rem);

	background-color: var(--light);
	border-radius: 0.5rem;
	padding: 1rem 2rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.counter button {
	all: unset;
	cursor: pointer;

	display: flex;
	align-items: center;
}

.counter span {
	font-weight: 700;
}
