main {
	background-color: var(--mainBg);
	margin: 2rem 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem 0;
}

@keyframes gradient-border {
	0% {
		background-position: 0 0, 100% 50%; /* Starting positions */
	}
	50% {
		background-position: 100% 50%, 0 0; /* Midway positions */
	}
	100% {
		background-position: 0 0, 100% 50%; /* Ending positions */
	}
}

main article {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;

	padding: 2rem;
	border: solid 0.2rem transparent;
	border-radius: 1rem;
	background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #86efac, #3b82f6, #9333ea) border-box;
	background-position: 0 0, /* Position of the first gradient (content area) */ 100% 50%; /* Position of the second gradient (border) */
	background-size: 200% 200%; /* Set background size to allow movement */
	box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

	transition-property: background, box-shadow, transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

main article:hover {
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
	animation: gradient-border 2s ease infinite;
}

main article .user {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}

main article .user-img {
	width: 60px;
	height: 60px;
}

main article h2 {
	color: var(--darkAccent);
}

main article h3 {
	color: var(--darkAccent);
}

main article h4 {
	color: var(--light);
	font-weight: 400;
}

main article p {
	font-weight: 400;
	color: var(--light);
}

main article .article-info {
	margin-top: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

main article .tags-div {
	display: flex;
	column-gap: 0.5rem;
}

main article .article-tag {
	font-weight: 500;
	color: var(--mediumAccent);
	background-color: var(--lightAccent);
	padding: 0.1rem 0.8rem;
	border-radius: 2rem;
	white-space: nowrap;
}

main article .other-info {
	display: flex;
	column-gap: 1rem;
}

main article .other-info span {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	row-gap: 0.2rem;
}

main article .other-info span svg {
	width: 20px;
	height: 20px;
}

@media (min-width: 768px) {
	div#root main {
		grid-column: span 3;
		margin: 2rem;
	}
}

@media (min-width: 1000px) {
	div#root main {
		grid-column: span 3;
		order: 1;
	}
}

@media (min-width: 1200px) {
	div#root main {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2rem;
		grid-auto-rows: min-content;
		align-items: stretch;
	}
}
